<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pay.one.wechat">

    <application>
        <activity
            android:name="com.pay.one.wechat.WXPayActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/PayAgentActivityTheme" />
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pay.one.wechat.WXPayActivity" />
    </application>

</manifest>
